{{#if comments}}
    <section class="gh-comments gh-canvas">
        <header class="gh-comments-header">
            <h3 class="gh-comments-title related-title">Member discussion</h3>
            {{comment_count class="gh-comments-count"}}
        </header>
        {{comments title="" count=false}}
    </section>
{{/if}}