<div class="cover gh-outer">
    <div class="cover-content gh-inner">
        {{#if @site.icon}}
            <div class="cover-icon">
                <img class="cover-icon-image" src="{{@site.icon}}" alt="{{@site.title}}">
            </div>
        {{/if}}

        {{#if @site.description}}
            <div class="cover-description"><b>{{@site.description}}</b></div>
        {{/if}}

        {{!-- <div class="cover-cta">
            <a href="https://payhip.com/b/1nE5I" target="_blank">
                <b><u>ME Course starts Sept 15th, 2025</u></b>
            </a>
        </div> --}}

        {{!-- {{#if @site.members_enabled}}
            {{#unless @member}}
            <div class="cover-cta">
                <button class="button members-subscribe" data-portal="signup">Subscribe now</button>
                <button class="button button-secondary members-login" data-portal="signin">Login</button>
            </div>
            {{/unless}}
        {{/if}} --}}
    </div>
</div>
