<div class="comment kg-width-narrow">
  <div id="disqus_thread">
    <button class="button button-secondary" onclick="loadDisqus();">{{t "Load comments"}}</button>
  </div>
</div>

<script>
  // DON'T EDIT BELOW THIS LINE
  if (disqus_shortname == '') {
    document.querySelector('.comment').remove();
  }
  
  var disqus_config = function () {
    this.page.url = '{{url absolute="true"}}';
    this.page.identifier = 'ghost-{{post.comment_id}}';
  };

  function loadDisqus() {
    var d = document, s = d.createElement('script');
    s.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  };
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>