<footer class="site-footer container">
    <div class="social">
        {{navigation type="secondary"}}
    </div>

    <div class="copyright">
        Powered by <a href="https://ghost.org/" target="_blank"
            rel="noopener noreferrer">Ghost</a>
    </div>

    <nav class="footer-nav">
        <a class="menu-item js-theme" href="#" data-system="System theme" data-dark="Dark theme" data-light="Light theme">
            <svg class="icon theme-icon theme-icon-system">
                <use xlink:href="#circle-half-full"></use>
            </svg>
            <svg class="icon theme-icon theme-icon-dark">
                <use xlink:href="#brightness-2"></use>
            </svg>
            <svg class="icon theme-icon theme-icon-light">
                <use xlink:href="#white-balance-sunny"></use>
            </svg>
            <span class="theme-text">System theme</span>
        </a>
    </nav>
</footer>