<footer class="site-footer container">
    <div class="social">
            <a class="social-item social-item-twitter"
                href="https://www.twitter.com/egd_io" target="_blank"
                rel="noopener noreferrer" aria-label="Twitter">
                <i class="fab fa-twitter"></i>
            </a>
            <a class="social-item social-item-facebook"
                href="https://www.facebook.com/egd.io" target="_blank"
                rel="noopener noreferrer" aria-label="Facebook">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a class="social-item social-item-instagram"
                href="https://www.instagram.com/egd.io" target="_blank"
                rel="noopener noreferrer" aria-label="Instagram">
                <i class="fab fa-instagram"></i>
            </a>
        <a class="social-item social-item-podcast"
            href="https://anchor.fm/s/518efbec/podcast/rss"
            target="_blank" rel="noopener noreferrer" aria-label="Podcast">
            <i class="fas fa-podcast"></i>
        </a>
        <a class="social-item social-item-rss"
            href="{{@site.url}}/rss/"
            target="_blank" rel="noopener noreferrer" aria-label="RSS">
            <i class="fas fa-rss"></i>
        </a>
    </div>

    <div class="copyright">
    &copy; 2020 - {{date format="YYYY"}} <a href="https://www.egd.io" target="_blank">Ethan Gregory Dodge</a> under <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY-SA 4.0</a> &bull;
        Powered by <a href="https://ghost.org/" target="_blank"
            rel="noopener noreferrer">Ghost</a>
    </div>

<nav class="footer-nav">
        {{navigation type="secondary"}}
        <a class="menu-item js-theme" href="#" data-system="System theme" data-dark="Dark theme" data-light="Light theme">
            <i class="far fa-moon icon theme-icon theme-icon-dark">
            </i>
            <i class="far fa-sun icon theme-icon theme-icon-light">
            </i>
            <span class="theme-text">System theme</span>
        </a>
    </nav>
</footer>
