<div class="modal-overlay">
    <div class="modal modal-search">
        <div class="form-wrapper">
            <input class="modal-input search-input" type="search" placeholder="Enter keyword...">
            <button class="form-button search-button" aria-label="Search">
                <svg class="icon icon-search">
                    <use xlink:href="#magnify"></use>
                </svg>
                <svg class="icon icon-close">
                    <use xlink:href="#window-close"></use>
                </svg>
            </button>
        </div>
        {{#get "tags" limit="5" include="count.posts" order="count.posts desc"}}
            {{#if tags}}
                <div class="popular-wrapper">
                    <h4 class="popular-title">Popular tags</h4>
                    <div class="popular-feed">
                        {{#foreach tags}}
                            <a class="popular" href="{{url}}">{{name}}</a>
                        {{/foreach}}
                    </div>
                </div>
            {{/if}}
        {{/get}}
        <div class="search-result"></div>
    </div>
    <button class="button-icon modal-close" aria-label="Close">
        <svg class="icon icon-close">
            <use xlink:href="#window-close"></use>
        </svg>
    </button>
</div>