<div class="modal-overlay">
  <div class="modal modal-search">
    <div class="form-wrapper">
      <input class="modal-input search-input" type="search">
      <button class="form-button search-button"></button>
    </div>
    <div class="search-result"></div>
  </div>
  <button class="button-icon modal-close"><i class="icon icon-window-close"></i></button>
</div>