<nav class="pagination">
    {{#if next}}
        <a class="older-posts" href="{{page_url next}}"></a>
    {{/if}}
</nav>
<div class="infinite-scroll-status">
    <div class="infinite-scroll-request"></div>
</div>
<div class="infinite-scroll-action">
    <button class="button button-secondary infinite-scroll-button">Load more</button>
</div>

{{#contentFor "body_class"}}{{#if next}} paged-next{{/if}}{{/contentFor}}