{{#get "posts" limit="5" filter="tags:[{{post.tags}}]+id:-{{post.id}}" as |related|}}
    {{#if related}}
        <section class="related-wrapper">
            <div class="container medium">
                <h3 class="related-title">You might also like...</h3>
                <div class="related-feed">
                    {{#foreach posts}}
                        {{> "loop"}}
                    {{/foreach}}
                </div>
            </div>
        </section>
    {{/if}}
{{/get}}