{{!< default}}

<div class="content-area">
    <main class="site-main">
        {{#post}}
            {{> content width="wide"}}
        {{/post}}
        <form action="https://formspree.io/FORM_ID" class="contact-form container small" method="POST">
            <label>
                Name:
                <input type="text" name="name" required>
            </label>
            <label>
                Email:
                <input type="email" name="email" required>
            </label>
            <label>
                Message:
                <textarea rows="6" name="message" required></textarea>
            </label>
            <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
            <input type="hidden" name="_next" value="{{@site.url}}/thanks/">
            <button class="button" type="submit">Submit</button>
        </form>
    </main>
</div>