{{!< default}}

<div class="content-area">
<main class="site-main">

    {{#post}}
        {{> "content" width="full"}}
        {{> "comment"}}
    {{/post}}

    {{#is "post"}}
        {{#if @custom.show_related_posts}}
            {{> related}}
        {{/if}}
    {{/is}}

</main>
</div>