{{!< default}}

<main class="site-main">

    {{#post}}
        {{> "content" no_image=true}}
    {{/post}}

    {{#is "post"}}
        {{#if @custom.show_related_posts}}
            {{> "related-posts"}}
        {{/if}}

        {{#post}}
            {{> "comments"}}
        {{/post}}
    {{/is}}

</main>