{{!< default}}

<div class="content-area">
    <main class="site-main">
        {{#post}}
            {{> content width="narrow"}}
        {{/post}}
        {{#is "post"}}
            {{> related}}
            {{> comment}}
        {{/is}}
    </main>
</div>