{{!< default}}

<div class="content-area">
    <main class="site-main">
        {{#post}}
            {{> content width="full"}}
        {{/post}}
        {{#is "post"}}
            {{#if @custom.show_related_posts}}
                {{> related}}
            {{/if}}
            {{> comment}}
        {{/is}}
    </main>
</div>