{{!< default}}

<main class="site-main">

    {{#post}}
        {{> "content" no_image=true}}
    {{/post}}

    {{#is "post"}}
        {{#if @custom.show_related_posts}}
            {{> "related-posts"}}
        {{/if}}
    {{/is}}

    {{#post}}
        {{#if comments}}
            <section class="gh-comments gh-canvas">
                <header class="gh-comments-header">
                    <h3 class="gh-comments-title related-title">Member discussion</h3>
                    {{comment_count class="gh-comments-count"}}
                </header>
                {{comments title="" count=false}}
            </section>
        {{/if}}
    {{/post}}

</main>