{{!< default}}

<main class="site-main">
    <div class="post-feed gh-feed gh-canvas">
        {{#get "posts" filter="featured: true" as |posts|}}
            {{#foreach posts}}
                {{> "loop-two"}}
            {{/foreach}}
        {{/get}}
    </div>

    <center class="cover-content gh-inner">
        <b><a href="https://calendly.com/dreamfreely/curiosity-call" target="_blank">Book a Curiosity Call</a></b>
    
    
        {{#if @site.members_enabled}}
            {{#unless @member}}
            <div class="cover-cta">
                <button class="button members-subscribe" data-portal="signup">{{t "Subscribe now"}}</button>
                <button class="button button-secondary members-login" data-portal="signin">{{t "Login"}}</button>
            </div>
            {{/unless}}
        {{/if}}
    </center>

</main>