{{!< default}}

<div class="content-area">
    <main class="site-main">
        <div class="post-feed container medium">
            {{#foreach posts}}
                {{> "loop_homepage"}}
            {{/foreach}}
        </div>
        {{pagination}}
    </main>
</div>