{{!< default}}

<main class="site-main">

    {{#post}}
        {{> "content" width="wide"}}
        {{> "comment"}}
    {{/post}}

    {{#if @custom.show_related_posts}}
        {{> "related-posts"}}
    {{/if}}

</main>