{{!< default}}

<div class="content-area">
  <main class="site-main">
    {{#post}}
      {{> content width="wide"}}
    {{/post}}
    {{> related}}
    {{#if post.access}}
      {{> disqus}}
    {{/if}}
  </main>
</div>