{{!< default}}

<div class="content-area">
  <main class="site-main">
    {{#post}}
      {{> content width="wide"}}
    {{/post}}
    {{#is "post"}}
      {{> related}}
      {{#if @labs.members}}
        {{#if post.access}}
          {{> disqus}}
        {{/if}}
      {{else}}
        {{> disqus}}
      {{/if}}
    {{/is}}
  </main>
</div>