{{!< ./default}} <main id="site-main" class="site-main site-signup outer">

    <div class="head">
        <div class="icon-container">
            <i class="fa-regular fa-envelope fa-4x" style="color: {{@site.accent_color}}"></i>
        </div>
        <h3>Now check your email!</h3>
        <div class="subtitle">
            <span>To complete signup, click the confirmation link in your email inbox. If it doesn't arrive within 3
                minutes, check your spam folder.</span>
        </div>
    </div>
    <div class="button-container">
        <a href="/" class="button home-button">Back to home</a>
    </div>
    </svg>
    </main>