.plan-list {
  display: flex;
  justify-content: center;
}

.plan {
  border: 1px solid var(--light-gray-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  max-width: 35rem;
  padding: 3rem;
}

.plan-title {
  color: var(--brand-color);
  font-size: 2rem;
  margin-bottom: .3rem;
}

.plan-price {
  align-items: baseline;
  color: var(--secondary-text-color);
  display: flex;
}

.plan-amount {
  color: var(--darker-gray-color);
  font-size: 2.4rem;
  font-weight: 700;
  margin-right: .5rem;
}

.plan-feature-list {
  flex-grow: 1;
  list-style-type: none;
  margin: 2rem 0 3rem;
  padding: 0;
}

.plan-feature {
  margin: .6rem 0;
}