.modal-overlay {
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    display: none;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity 0.2s var(--animation-base);
    z-index: 90;
}

.modal {
    background-color: var(--white-color);
    border-radius: 5px;
    margin: 9rem auto 0;
    overflow: hidden;
    transform: translateY(-10px);
    transition: transform 0.2s var(--animation-base);
}

.modal-search {
    width: 500px;
}

.modal-search .form-wrapper {
    border-bottom: 1px solid var(--light-gray-color);
}

.modal-close {
    color: var(--white-color);
    position: absolute;
    right: 15px;
    top: 15px;
}

.modal-opened .modal-overlay {
    opacity: 1;
    pointer-events: unset;
}

.modal-opened .modal {
    transform: translateY(0);
}

@media (max-width: 500px) {
    .modal-search {
        border-radius: 0;
        width: 100%;
    }
}
