<section class="plan plan-free">
  <header class="plan-header">
    <h2 class="plan-title">{{t "Free"}}</h2>
    <div class="plan-price">
      <div class="plan-amount">$0</div>
    </div>
  </header>
  <ul class="plan-feature-list">
    <li class="plan-feature">Access to all public posts</li>
    <li class="plan-feature">Regular updates with new content</li>
    <li class="plan-feature">No credit card required</li>
  </ul>
  <a class="button" href="{{@site.url}}/signup/">{{t "Sign up"}}</a>
</section>