<section class="plan plan-monthly">
  <header class="plan-header">
    <h2 class="plan-title">Monthly</h2>
    <div class="plan-price">
      <div class="plan-amount">{{@price.currency_symbol}}{{@price.monthly}}</div>
      / month
    </div>
  </header>
  <ul class="plan-feature-list">
    <li class="plan-feature">Full access to all private posts</li>
    <li class="plan-feature">Regular updates with new content</li>
    <li class="plan-feature">Support independent publishing</li>
    <li class="plan-feature">Simple, secure card payment</li>
  </ul>
  <button class="button" data-members-plan="Monthly">
    Choose monthly
    <svg class="icon icon-loading"><use xlink:href="#loader"></use></svg>
  </button>
</section>
<section class="plan plan-yearly">
  <header class="plan-header">
    <h2 class="plan-title">Yearly</h2>
    <div class="plan-price">
      <div class="plan-amount">{{@price.currency_symbol}}{{@price.yearly}}</div>
      / year
    </div>
  </header>
  <ul class="plan-feature-list">
    <li class="plan-feature">Full access to all private posts</li>
    <li class="plan-feature">Regular updates with new content</li>
    <li class="plan-feature">Support independent publishing</li>
    <li class="plan-feature">Simple, secure card payment</li>
    <li class="plan-feature">One easy payment instead of 12!</li>
  </ul>
  <button class="button" data-members-plan="Yearly">
    Choose yearly
    <svg class="icon icon-loading"><use xlink:href="#loader"></use></svg>
  </button>
</section>