.cover {
  margin-top: 4.5rem;
}

.cover-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
}

.cover-icon {
  width: 150px;

  & + .cover-description {
    margin-top: 2rem;
  }
}

.cover-description {
  font-size: 1.7rem;
}

.cover-cta {
  display: flex;
  margin-top: 2rem;

  .button {
    margin: 0 .5rem;
  }
}