.site-header {
  align-items: center;
  display: flex;
  height: var(--navbar-height);
}

.header-left,
.header-right {
  align-items: center;
  display: flex;
  flex: 2;
}

.header-right {
  justify-content: flex-end;
}

.logo-text {
  color: var(--secondary-text-color);
  font-size: 1.8rem;
  font-weight: 800;
}

.main-nav {
  display: flex;
}

.menu-item {
  font-weight: 700;
  margin: 0 1.5rem;
}

.menu-item-cta {
  color: var(--brand-color);
  margin: 0 0 0 1rem;
}