.featured-wrapper {
  margin-top: 6rem;
}

.featured-wrapper .u-placeholder {
  margin-bottom: 3rem;
}

.featured-wrapper .post-title {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 0;
}

.featured-title {
  border-bottom: 1px solid var(--light-gray-color);
  color: var(--brand-color);
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  margin-bottom: 4.5rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
}
